/*
 * This is is imported by virtue of "sass.etc" in "app.json".
 */
 $body-font-family: 'Roboto', sans-serif;
 $window-base-color: #fff;
 $window-header-color: #000;
 $window-padding: 20px;
 $window-header-font-family: $body-font-family;
 $toolbar-footer-background-color: #fff;
 $form-label-font-family: $body-font-family;