.thread-view {
    font-family: $body-font-family;
    margin: $gutters;
    .x-view-item-focused {
    outline: 0 !important;
    .header {
    color: rgb(255, 20, 108);
    }
    }
    .header {
    font-size: 125%;
    }
    .body {font-size: 105%;
        color: #666;
        padding: 10px 0;line-height: 160%;
    }
    .date {
    color: $subdued-grey;
    font-size: 150%;
    padding: 0 15px;
    font-weight: bold
    }
    }
    .thread {
    display: flex;
    padding: 50px;
    &:hover {
    cursor: pointer;
    }
    .details {
    border-bottom: 1px solid $subdued-grey;
    }
    &:last-child .details {
    border-bottom: 0 !important;
    }
    .date {width: 80px;
        text-align: right;
        }
        .details {
        flex: 1;
        }
        }